@import url("SECTIONS/menu.css");
@import url("SECTIONS/about.css");
@import url("SECTIONS/skills.css");
@import url("SECTIONS/projects.css");
@import url("SECTIONS/education.css");
@import url("SECTIONS/contact.css");


/*------------------GENERAL---------------*/
*{
  font-size: 16px;
}

body{
  font-family:  'Lato',sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

img{
  max-width: 100%;
  height: auto;
}

section{
  padding: 45px 0 40px 0;
}
section .heading{
  text-align: center;
  padding-bottom: 20px;
  }

section .heading h2{
  text-transform: uppercase;
  }

ul, ol{
  list-style: none;
}



