/*---------------------MENU------------------------*/

.navbar {
  background: #d82c2e;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-collapse{
  text-align: center;
}

.navbar li a{
  color:#fff;
}

.navbar-nav li a:hover{
  color:#d82c2e !important;
  background-color: white !important;
}

.navbar-nav li a.active{
  text-decoration: underline;
}

.navbar-expand-lg, .navbar-toggle{
  border-style: none;
}
